<h2>{{title}}</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="answer-edit">
    <div class="form-group"
         [ngClass]="{ 'has-error has-feedback' : hasError('Text')}">
      <label for="text">Answer text:</label>
      <br />
      <textarea class="form-control"
                formControlName="Text" required
                id="text" [(ngModel)]="answer.Text"
                placeholder="enter a suitable text..."></textarea>

      <span *ngIf="hasError('Text')"
            class="glyphicon glyphicon-remove form-control-feedback"
            aria-hidden="true"></span>
      <div *ngIf="hasError('Text')"
           class="help-block">
        Title is a required field: please insert a valid text.
      </div>
    </div>


    <div class="form-group"
         [ngClass]="{ 'has-error has-feedback' : hasError('Value')}">
      <label for="value">Score Value:</label>
      <br />
      <select id="value" class="form-control"
              formControlName="Value" required
              name="value" [(ngModel)]="answer.Value">
        <option value="">Pick a value...</option>
        <option *ngFor="let num of [-5,-4,-3,-2,-1,0,1,2,3,4,5]"
                [value]="num">
          {{num}}
        </option>
      </select>
      <div *ngIf="hasError('Value')"
           class="help-block">
        Please select a valid number between -5 and 5.
      </div>
    </div>

    <div class="form-group commands">
      <!--<input *ngIf="editMode" type="button" value="Apply Changes"
     (click)="onSubmit(answer)" class="btn btn-primary btn-success" />-->
      <button *ngIf="editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        Apply Changes
      </button>
      <!--<input *ngIf="!editMode" type="button" value="Create the
  Answer!" (click)="onSubmit(answer)" class="btn btn-primary btn-success" />-->

      <button *ngIf="!editMode" type="submit"
              [disabled]="form.invalid"
              class="btn btn-success">
        Create the Answer!
      </button>
      <!--<input type="button" value="Cancel" (click)="onBack()" class="btn btn-default" />-->
      <button *ngIf="!editMode" type="submit"
              (click)="onBack()"
              class="btn btn-default">
        Cancel
      </button>
    </div>
  </div>
</form>
