<h3>Questions</h3>
<div *ngIf="questions.length > 0">
  <div class="table-responsive">
    <table class="table table-hover questions">
      <thead>
        <tr>
          <th>Text</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let question of questions">
          <td>{{question.Text}}</td>
          <td>
            <input type="button" value="Edit"
                   (click)="onEdit(question)" class="btn btn-primary btn-warning" />
            <input type="button" value="Delete"
                   (click)="onDelete(question)" class="btn btn-primary btn-danger" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="questions.length == 0">
  This quiz has no questions (yet):
  click the <strong>Add a new Question</strong> button to add the first
  one!
</div>
<button (click)="onCreate()" class="btn btn-sm btn-primary">
  <span class="glyphicon glyphicon-plus-sign"></span>
  Add a new Question
</button>
